:root {
  --green-color: #40aea3;
  --font-size-big: 20px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page-header {
  display: grid;
  grid-template-rows: 30vw auto;
  grid-template-columns: 20% 60% 20%;
  margin: 10px;
}

.page-logo {
  width: 50vw;
  grid-column-start: 1;
  grid-column-end: end;
  justify-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hamburger-menu, .hamburger-menu-handle {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-handle {
  width: 14vw;
  height: 14vw;
  background-image: url('../assets/images/hamburger-menu-icon.png');
  background-size: cover;
  justify-self: center;
  align-self: center;
}

.hamburger-menu:checked + .page-navigation {
  display: none;
}

.page-navigation {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
}

.page-navigation ul, .products ul {
  list-style-type: none;
  padding: 0;
}

.page-navigation a {
  display: block;
  text-decoration: none;
  color: var(--green-color);
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin: 6px 0;
  padding: 6px 0;
}

.page-navigation a:hover {
  text-decoration: underline;
}

.button-search {
  padding-left: 46px;
  background-image: url('../assets/images/search-icon.jpg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position-y: -9px;
}

.call-to-action {
  background-image: url('../assets/images/cover.jpeg');
  background-size: 100vw 33vw;
  height: 33vw;
  overflow: hidden;
}

.cta-message {
  display: block;
  color: #ffffff;
  width: 70vw;
  margin: 5vw 15vw 0;
  text-align: center;
  font-size: var(--font-size-big);
}

.cta-button {
  display: block;
  margin: 16px auto 0;
  color: var(--green-color);
  font-size: var(--font-size-big);
  font-weight: bold;
  border: 0;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.7);
}

.bio {
  color: var(--green-color);
  font-size: var(--font-size-big);
  margin: 20px 3vw;
  text-align: center;
}

.product {
  width: 94vw;
  margin: 20px 3vw;
}

.product-figure {
  margin: 0;
}

.product-image {
  width: 94vw;
  height: 94vw;
  object-fit: cover;
}

.product-link {
  color: #333333;
  text-decoration: none;
}

.product-name, .product-price {
  display: block;
  font-size: var(--font-size-big);
  text-align: center;
}

@media (min-width: 860px) {
  .page-header {
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 120px 0;
  }

  .hamburger-menu-handle {
    display: none;
  }

  .hamburger-menu:checked + .page-navigation {
    display: block;
  }

  .page-logo {
    width: 250px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: end;
  }

  .page-navigation {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;
  }

  .menu-list {
    display: flex;
    height: 108px;
    margin-left: 20px;
    align-items: flex-end;
  }

  .menu-item {
    margin: 0 10px;
  }

  .page-header, .bio {
    max-width: 1200px;
    margin: 10px auto;
  }

  .call-to-action {
    max-width: 1200px;
    max-height: 400px;
    margin: 0 auto;
  }

  .cta-message {
    text-align: left;
    font-size: 60px;
    margin: 60px 0 0 160px;
  }

  .cta-button {
    margin: 16px 0 0 240px;
    font-size: 40px;
  }

  .products-list {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-image {
    width: 150px;
    height: 150px;
  }

  .product {
    width: 150px;
    margin: 10px;
  }
}

@media (min-width: 860px) and (max-width: 1020px) {
  .cta-message {
    font-size: 50px;
  }

  .cta-button {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .call-to-action {
    background-size: 1200px 400px;
  }
}
